@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/Raleway-Regular.ttf") ;
    font-weight: 400;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

span {
    font-family: Raleway , sans-serif !important;
}