
*:not(button) {
    border-radius: 3px;
}


body {
    font-size: 14.5px;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: lightslategray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}