{% extends 'base_auth.html' %}

{% load static %}

{% block title %}
    login page
{% endblock title %}

{% block content %}
<div class="relative" >

    <a class=" top-10 left-10 absolute border border-slate-500 p-1"  href="{% url 'home' %}">Home page</a>

    <div class="flex justify-center items-center h-screen bg-slate-100" >

        <form class="flex shadow-xs flex-col  bg-white p-10 gap-3" action="" method="post">

            {% csrf_token %}

            <p class="text-center mb-3 font-semibold" >Connexion</p>

            {% if form.non_field_errors %}
                <div class="text-red-500 text-xs max-w-80 p-2 bg-red-50 border">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div>
                <label class="text-sm"  for="">Pseudo</label>
                <input class="mt-1 border border-slate-200 p-4 w-full" type="text" placeholder="Ex:Placide" name="username" value="{{ request.POST.username }}" >
                <p class="text-xs text-red-500" >{{ form.username.errors.0 }}</p>
            </div>

            <div>
                <label class="text-sm" for="">Mot de passe</label>
                <input class="mt-1  border border-slate-200 p-4 w-full" type="password" placeholder="*********" name="password">
                <p class="text-xs text-red-500" >{{ form.password.errors.0 }}</p>
            </div>

            <button class="bg-slate-900 text-sm cursor-pointer text-white p-4" >Se connecter</button>

            <div>
                <a class="text-xs underline cursor-pointer" href="{% url 'register' %}">Creer un compte</a>
            </div>

        </form>

    </div>

</div>
{% endblock %}