<footer class="px-15 pt-10 border border-slate-100" >
    
    <div class="grid grid-cols-3" >
        <div class="flex flex-col gap-3 py-3" >
            <p>FST</p>
            <p class="max-w-90" >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, repudiandae
            </p>
        </div>

        <div class="flex flex-col gap-3 py-3" >
            <p class="underline" >Navigation</p>
            <a href="">Accueil</a>
            <a href="">A propos du blog</a>
            <a href="">blog et publications</a>
        </div>

        <div class="flex flex-col gap-3 py-3" >
            <p class="underline" >Contact & Campus</p>
            <a href="">Lorem ipsum dolor sit amet.</a>
            <a href="">contact@gmail.com</a>
            <a href="">+261341104461</a>
        </div>

    </div>

    <div class="flex justify-between py-2 text-xs border-slate-100 border" >
        <p>&copy; 2026 Lorem ipsum dolor sit amet.</p>
        <p>LOGO</p>
    </div>
    
</footer>