{% extends 'base.html' %}

{% load static %}

{% block title %}
    About
{% endblock title %}

{% block content %}

<div id="about" class="grid border-b bg-sky-50 border-slate-300 grid-cols-2">

    <div class="flex py-10 px-25 flex-col gap-3">

        <div>
            <button class="text-xs border border-slate-200 p-1 rounded">
                Présentation de la plateforme
            </button>
        </div>

        <p class="font-extrabold text-5xl leading-15 whitespace-nowrap">
            À propos cette Plateforme
        </p>

        <p class="leading-6 text-sm ">
            FST Connect est une plateforme collaborative dédiée aux étudiants de la Faculté des Sciences de l'Université de Toamasina. Elle permet de partager des publications, des actualités, des connaissances et des expériences autour de la vie universitaire et scientifique.
        </p>

    </div>

</div>

<div>

    <div class="grid grid-cols-2 py-10 px-25 gap-30">

        <div class="border border-slate-300 p-5 bg-white rounded flex flex-col gap-3">

            <p class="font-bold text-2xl">
                Notre mission & Vision
            </p>

            <p class="text-xs leading-5">
                Notre mission est de faciliter les échanges entre les étudiants, de favoriser le partage des connaissances et de créer un espace numérique où chacun peut contribuer à la vie académique de la Faculté des Sciences.
            </p>

            <p class="text-xs leading-5">
                Notre vision est de construire une communauté universitaire active, collaborative et accessible, où les étudiants peuvent découvrir des informations, partager leurs projets et échanger autour de leurs domaines scientifiques.
            </p>

        </div>

        <div class="grid grid-cols-2">

            <div>

                <div class="border border-slate-300 p-5 bg-white rounded">

                    <p class="text-xs leading-5">
                        <span class="font-semibold">
                            Université:
                        </span>
                        Université de Toamasina
                    </p>

                    <p class="text-xs leading-5">
                        <span class="font-semibold">
                            Faculté:
                        </span>
                        Faculté des Sciences
                    </p>

                    <p class="text-xs leading-5">
                        <span class="font-semibold">
                            Localisation:
                        </span>
                        Toamasina
                    </p>

                    <p class="text-xs leading-5">
                        <span class="font-semibold">
                            Système:
                        </span>
                        LMD
                    </p>

                    <p class="text-xs leading-5">
                        <span class="font-semibold">
                            Domaine:
                        </span>
                        Math_Informatique
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock content %}