{% extends 'base.html' %}

{% load static %}

{% block title %}
    blog
{% endblock title %}

{% block content %}

<div id="blog" class="grid border-b bg-gray-50 border-slate-300  grid-cols-2" >

    <div  class="flex py-10 px-20 flex-col gap-3" >

        <div>
            <button class="text-xs border border-slate-200 p-1 rounded" >Actualite & publication</button>
        </div>

        <p class="font-extrabold text-5xl" >Blog et Publication</p>

        <p class="leading-5 text-xs" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

        <div class="flex gap-5 justify-center items-center py-4 " >
            <input class="mt-1 border bg-white border-slate-500 p-2 w-full" type="text" placeholder="Ex:python" name="">
            <button class="bg-slate-800 text-white p-2 cursor-pointer" >Recherche</button>
        </div>

        <div class="flex gap-2 items-center" >
            <button class="text-xs cursor-pointer bg-slate-800 text-white p-2 rounded" >Tous</button>
            <button class="text-xs cursor-pointer border border-slate-300  p-2 rounded" >Tech & IA</button>
            <button class="text-xs cursor-pointer border border-slate-300  p-2 rounded" >Innovation</button>
        </div>

    </div>

    <div class="flex justify-end items-start py-10 px-20" >
        <button class="border bg-slate-800 p-3 cursor-pointer text-white  text-xs" >Creer un poste</button>
    </div>
    
</div>

<div id="jumbotron" class="py-5 px-15">

    <div class="my-4" >
        <button class=" text-xl underline-offset-4 underline p-1 rounded " >Publication & Actualites</button>
    </div>
    <a class="grid grid-cols-3 gap-5" href="">

        <div class="flex flex-col rounded gap-3 border shadow-sm bg-white border-slate-300 p-5" >
    
            <div class="flex justify-between items-center py-2" >
                <button class="text-xs bg-gray-300 p-1 text-gray-900  top-0 left-0" >Innovation</button>
                <span class="text-xs" >6min</span>
            </div>
    
            <p class="font-semibold" >Lorem ipsum dolor sit amet consectetur adipisicing elit Velit quam dolorem dolor.</p>
    
            <p class="text-xs leading-5" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit quam dolorem dolor labore corporis ad totam at tempora dicta doloribus enim exercitationem odit rerum porro ratione dignissimos, iste ut dolore.</p>
    
            <div class="flex justify-between items-center border-t border-slate-200 pt-2" >
                <span class="text-xs">13 Aug 2026</span>
                <button class="flex gap-1 p-1 rounded" >
                    <img src="{% static 'icons/like_full.svg' %}" class="w-5 h-5">
                    <span>23</span>
                </button>
            </div>
    
        </div>
    </a>

</div>

{% endblock content %}