{% load static tailwind_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/app.css' %}" />

    <link rel="stylesheet" href="{% static 'vendor/waves/waves.min.css' %}" />

    {% tailwind_css %} {% block css %}{% endblock css %}
  </head>

  <body>
    <main class="flex min-h-screen flex-col">
      {% include 'includes/header.html' %}

      <section class="content grow bg-slate-100">
        {% block content %} {% endblock content %}
      </section>

      {% include 'includes/footer.html' %}
    </main>

    <script src="{% static 'vendor/waves/waves.min.js' %}"></script>

    <script src="{% static 'vendor/js/config.js' %}"></script>

    {% block js %} {% endblock js %}
  </body>
</html>
