.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-gray-900);
}

div.form-container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
    width: 310px;
    border: 1px solid var(--color-border);
}

div.form-container form input{
    width: 100%;
}

div.form-container form p.title{
    text-align: center;
    margin-bottom: 30px;
}

div.alternativ-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}

div.alternativ-link a{
   text-decoration: underline;
}

div.auth-big-container{
    position: relative;
}

a.to-home{
    position:absolute;
    top: 40px;
    left: 40px;
    color: white;
    font-size: small;
    border: 1px solid var(--color-border);
    padding: 5px;
}

input{
    padding: 15px;
    border: 1px solid var(--color-border);
}

form button{
    padding: 20px;
    color: white;
    background-color: var(--color-gray-900);
    cursor: pointer;
    border: none;
}

